<div class="container-xxl pt-5 pb-3">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 style="font-family: cursive;color: orange;">Want to hear what our customers say?</h5>
            <h1 class="mb-5" style="font-family: cursive;color: aliceblue;">Quality Food</h1>
        </div>
        <div class="owl-carousel testimonial-carousel">
            <div class="testimonial-item bg-transparent border rounded p-4">
                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                <p style="color:grey;">"I recently dined at my chef and was impressed by the exceptional quality of the food. The flavors were exquisite and truly highlighted the freshness of the ingredients used. For instance, the seafood platter was impeccably fresh, with each component—shrimp, scallops, and lobster—cooked to perfection and bursting with natural flavors. The presentation was also noteworthy, showcasing a blend of vibrant colors and artistic plating that elevated the dining experience."</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="../../../assets/testimonial-1.jpg" style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1" style="color:aliceblue;">Henna</h5>
                        <small style="color: orange">Teacher</small>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-transparent border rounded p-4">
                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                <p style="color:grey;">"I recently enjoyed a meal at my chef and was impressed by the impeccable quality of the food. The flavors were vibrant and fresh, particularly in the seafood risotto, where each bite was rich and perfectly balanced. The presentation was elegant, and it was evident that the chef prioritizes using high-quality ingredients. Overall, the dining experience exceeded my expectations, and I look forward to returning</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="../../../assets/testimonial-2.jpg" style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1" style="color:aliceblue;">Jhone</h5>
                        <small style="color: orange">Doctor</small>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-transparent border rounded p-4">
                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                <p style="color:grey;">From the moment we walked into my chef, it was clear that food quality was a top priority. The grilled salmon I ordered was impeccably fresh and cooked to perfection, flaking apart delicately with each bite. Accompanied by a medley of seasonal vegetables that were bursting with flavor, every element of the dish was meticulously prepared. The attention to detail in presentation was also impressive, making the dining experience not only delicious but visually appealing as well. Overall, the commitment to food quality at my chef made our evening memorable, and I would highly recommend it to anyone looking for a superb dining experience."</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="../../../assets/testimonial-3.jpg" style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1" style="color:aliceblue;">James</h5>
                        <small style="color: orange">Accountant</small>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-transparent border rounded p-4">
                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                <p style="color:grey;">The food quality at my chef exceeded my expectations in every way. The appetizer of fresh bruschetta was a delightful start, with ripe tomatoes and basil that tasted as if they were just picked from the garden. For the main course, the grilled chicken breast was juicy and tender, perfectly seasoned and accompanied by a medley of grilled vegetables that were bursting with flavor. Each dish was beautifully presented, reflecting the chef's commitment to both taste and aesthetics. Overall, the emphasis on using high-quality ingredients and expert preparation made for a truly enjoyable dining experience."</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="../../../assets/testimonial-4.jpg" style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1" style="color:aliceblue;">Nafah</h5>
                        <small style="color: orange">Engineer</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
