<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title" style="font-family:cursive;color: orange;">Food Menu</h5>
            <h1 class="mb-5" style="color:aliceblue;font-family:cursive;">Most Popular Items</h1>
        </div>
        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" src="../../../assets/shawarma.jpg" alt="" style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span style="color:aliceblue">Shawarma</span>
                                        <span style="color: orange;">$150</span>
                                    </h5>
                                    <small class="fst-italic" style="color:bisque">Try our flavorful shawarma, filled with juicy meats and aromatic spices.</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" src="../../../assets/burger.jpg" alt="" style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span style="color: aliceblue;">Chicken Burger</span>
                                        <span style="color: orange;">$250</span>
                                    </h5>
                                    <small class="fst-italic" style="color:bisque">Enjoy succulent chicken burger, crafted with premium ingredients for a delightful bite</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" src="../../../assets/pizza.jpg" alt="" style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span style="color: aliceblue;">Pizza</span>
                                        <span style="color: orange;">$400</span>
                                    </h5>
                                    <small class="fst-italic" style="color:bisque">Savor our delicious pizza, crafted with fresh ingredients and baked to perfection.</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" src="../../../assets/menu-4.jpg" alt="" style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span style="color:aliceblue;">Steak</span>
                                        <span style="color: orange;">$650</span>
                                    </h5>
                                    <small class="fst-italic" style="color:bisque">Indulge in our tender steak, grilled to perfection for a mouthwatering dining experience.</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" src="../../../assets/fried.jpg" alt="" style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span style="color:aliceblue;">Fried Chicken</span>
                                        <span style="color: orange;">$500</span>
                                    </h5>
                                    <small class="fst-italic" style="color:bisque">Delight in our crispy fried chicken, seasoned to perfection for a satisfying meal.</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" src="../../../assets/french.jpg" alt="" style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span style="color:aliceblue;">French Fries</span>
                                        <span style="color: orange;">$80</span>
                                    </h5>
                                    <small class="fst-italic" style="color:bisque">Enjoy our crispy French fries, perfect as a tasty side or a satisfying snack.</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" src="../../../assets/biriyani.jpg" alt="" style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span style="color:aliceblue;">Chicken Biriyani</span>
                                        <span style="color: orange;">$130</span>
                                    </h5>
                                    <small class="fst-italic" style="color:bisque">Savor our flavorful chicken biryani, prepared with aromatic spices and tender chicken pieces.</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" src="../../../assets/noodles.jpg" alt="" style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span style="color:aliceblue;">Chicken Noodles</span>
                                        <span style="color: orange;">$120</span>
                                    </h5>
                                    <small class="fst-italic" style="color:bisque">Try our delicious chicken noodles, packed with savory flavors and tender chicken pieces.</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Menu End -->
