
<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
    <h5 class="section-title" style="font-family:cursive;color: orange;">Contact Us</h5>
    <h1 class="mb-5" style="color:aliceblue;font-family:cursive;">How can we help you?</h1>
</div>

<div class="container">
  <form action="/action_page.php">
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="country">Country</label>
    <select id="country" name="country">
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
    </select>

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">
  </form>
</div>



