<div class="container-xxl py-5">
  <div class="container">
<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
  <h5 style="font-family: cursive;color: orange;">Our Services</h5>
  <h1 class="mb-5" style="font-family: cursive;color: aliceblue;">Explore Our Services</h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/masterchef.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title" style="color: orange;text-align: center;font-family: 'Courier New', Courier, monospace;"><b>Master Chefs</b></h5>
                  <p class="card-text" style="text-align: justify;">In our restaurant, our master chefs are skilled culinary artists who craft dishes with precision and creativity. They bring years of experience and a passion for perfection to every plate, ensuring a dining experience that is both memorable and satisfying. From appetizers to desserts, their dedication to quality ingredients and culinary innovation shines through, making each meal a gourmet delight.</p>
                  <a class="btn btn-primary" routerLink="/masterchef">See more</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/nice.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title" style="color: orange;text-align: center;font-family: 'Courier New', Courier, monospace;"><b>Quality Food</b></h5>
                  <p class="card-text" style="text-align: justify;">In our restaurant, we prioritize quality food above all else. Our ingredients are carefully selected for freshness and flavor, ensuring every dish delights the senses. From appetizers to desserts, each plate is crafted with precision and care to deliver a dining experience that exceeds expectations. Our commitment to excellence in culinary artistry ensures that every visit is a culinary journey worth savoring.</p>
                  <a class="btn btn-primary" routerLink="/qualityfood">See more</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/order.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title" style="color: orange;text-align: center;font-family: 'Courier New', Courier, monospace;"><b>Online Order</b></h5>
                  <p class="card-text" style="text-align: justify;">Our online ordering system is designed to make your dining experience effortless and enjoyable. With just a few clicks, you can browse our menu, select your favorite dishes, and place your order conveniently from the comfort of your home or on the go. Whether you're craving a hearty meal or a quick snack, our streamlined process ensures your food is prepared with care and delivered promptly to your doorstep. </p>
                  <a class="btn btn-primary" routerLink="/onlineorder">See more</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/full.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"style="color: orange;text-align: center;font-family: 'Courier New', Courier, monospace;"><b>24/7 Service</b></h5>
                  <p class="card-text" style="text-align: justify;">Our restaurant proudly offers 24/7 services, ensuring you can enjoy our delicious offerings whenever hunger strikes. Whether it's a late-night craving or an early morning breakfast, our doors are always open and our kitchen is ready to serve. Our dedicated team works around the clock to provide quality meals and impeccable service, making us your go-to choice any time of day or night. </p>
                  <a class="btn btn-primary" routerLink="/fullservice">See more</a>
                </div>
              </div>
        </div>
    </div>
    
    </div>
    </div>
</div>

  

  
