<div class="container-xxl pt-5 pb-3">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 style="font-family: cursive;color: orange;">Team Members</h5>
            <h1 class="mb-5" style="font-family: cursive;color: aliceblue;">Our Master Chefs</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item text-center rounded overflow-hidden">
                    <div class="rounded-circle overflow-hidden m-4">
                        <img class="img-fluid" src="../../assets/team-1.jpg" alt="">
                    </div>
                    <h5 class="mb-0" style="color:aliceblue;">Jamie Oliver</h5>
                    <small style="color: orange">Executive Chef</small>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item text-center rounded overflow-hidden">
                    <div class="rounded-circle overflow-hidden m-4">
                        <img class="img-fluid" src="../../assets/team-2.jpg" alt="">
                    </div>
                    <h5 class="mb-0" style="color:aliceblue;">Alton Brown</h5>
                    <small style="color: orange">Sous Chef</small>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item text-center rounded overflow-hidden">
                    <div class="rounded-circle overflow-hidden m-4">
                        <img class="img-fluid" src="../../assets/team-3.jpg" alt="">
                    </div>
                    <h5 class="mb-0" style="color:aliceblue;">Michael Symon</h5>
                    <small style="color: orange">Private Chef</small>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item text-center rounded overflow-hidden">
                    <div class="rounded-circle overflow-hidden m-4">
                        <img class="img-fluid" src="../../assets/team-4.jpg" alt="">
                    </div>
                    <h5 class="mb-0" style="color:aliceblue;">Thomas Keller</h5>
                    <small style="color: orange">Celebrity Chef</small>
                </div>
            </div>   
        </div>
    </div>
</div>
<!-- Team End -->
