
    <div class="container">
        <div class="row">
           <div class="col-md-12">
              <div class="banner_taital_main">
                 <h1 class="banner_taital">HOT N' FAST<br>Restaurant</h1>
                 <p class="banner_text" style="color: orange;">Welcome to Hot N' Fast! Explore our offerings and enjoy expert service.
                 <div class="btn_main">
                    <div class="about_bt active"><a href="#">About Us</a></div>
                    <div class="callnow_bt"><a href="#">Call Now</a></div>
                 </div>
              </div>
           </div>
        </div>
      </div>

  
