
.banner_section {
    width: 100%;
    float: left;
    padding: 90px 0px 140px 0px;
  }
  
  .banner_taital_main {
    width: 100%;
    float: left;
  }
  
  .banner_taital {
    width: 100%;
    font-size: 80px;
    color: #fefefd;
    font-weight: 800;
    line-height: 90px;
  }
  
  .banner_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #fefefd;
    margin: 20px 0px 0px 0px;
  }
  
  .btn_main {
    width: 100%;
    float: left;
    padding-top: 40px;
  }
  
  .about_bt {
    width: 175px;
    float: left;
  }
  
  .about_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    background-color: #fefefd;
    color: #1c130f;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
  }
  
  .about_bt a:hover {
    color: #fefefd;
    background-color: #f01c1c;
  }
  
  
  .about_bt.active a {
    color: #fefefd;
    background-color: #f01c1c;
  }
  
  .callnow_bt {
    width: 175px;
    float: left;
  }
  
  .callnow_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    background-color: #fefefd;
    color: #1c130f;
    text-align: center;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    text-transform: uppercase;
  }
  
  .callnow_bt a:hover {
    color: #fefefd;
    background-color: #f01c1c;
  }
  