
<div class="container-xxl pt-5 pb-3">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 style="font-family: cursive;color: orange;">We are here for you every time</h5>
            <h1 class="mb-5" style="font-family: cursive;color: aliceblue;">24/7 Service</h1>
        </div>
        <div class="row">
            <div class="col">
                <img src="../../../assets/open.jpg">
            </div>
            
                    <div class="col">
                        <br><br><br>
                        <p style="color:antiquewhite;">

                            "At Hot N' Fast, we pride ourselves on offering 24/7 service to cater to your dining needs anytime, day or night. Whether you're craving a late-night snack, planning a breakfast meeting, or celebrating a special occasion in the wee hours, our doors are always open. Our dedicated team ensures that you receive the same exceptional dining experience round the clock, with a menu crafted from fresh, quality ingredients and impeccable service. Experience convenience and hospitality at its finest with our commitment to being there for you, every hour of every day."</p>
                    </div>
                

        </div>
        
    
</div>
    </div>
