 <div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s" src="../../../assets/about-1.jpg">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s" src="../../../assets/about-2.jpg" style="margin-top: 25%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s" src="../../../assets/about-3.jpg">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s" src="../../../assets/about-4.jpg">
                    </div>
                </div>
            </div>
<div class="col-lg-6">
    <h5 style="font-family:cursive;color: orange;">About Us</h5>
    <h1 class="mb-4"  style="color:aliceblue;font-family:cursive;">Welcome to Hot N' Fast</h1>
    <p class="mb-4" style="color:antiquewhite;">Welcome to "Hot N' Fast" restaurant, where culinary excellence meets comfort. Nestled in the heart of calicut, Hot N' Fast offers a cozy and inviting atmosphere perfect for every occasion. Our menu is a celebration of flavors, crafted with passion and using only the freshest ingredients sourced locally.</p>
    <p class="mb-4" style="color:antiquewhite;">From hearty breakfasts to gourmet dinners and everything in between, each dish at Hot N' Fast is a testament to our commitment to quality and taste. Whether you're here for a quick bite or a leisurely meal with friends and family, Hot N' Fast promises an unforgettable dining experience that keeps you coming back for more. Discover the essence of great food and warm hospitality at Hot N' Fast – your neighborhood favorite</p>
    <div class="row g-4 mb-4">
        <div class="col-sm-6">
            <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">15</h1>
                <div class="ps-4">
                    <p class="mb-0" style="color:antiquewhite;">Years of</p>
                    <h6 class="text-uppercase mb-0" style="color:antiquewhite;">Experience</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">50</h1>
                <div class="ps-4">
                    <p class="mb-0" style="color:antiquewhite;">Popular</p>
                    <h6 class="text-uppercase mb-0" style="color:antiquewhite;">Master Chefs</h6>
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a>
</div>
</div>
</div>
</div>



